.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.header_college_details {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  border-top: 3px solid #252674;
}
.header_college_details_left {
  display: flex;
  /* gap: 5px; */
}
.header_college_details_left_logo {
  width: 44%;
  border-radius: 50%;
  height: 99px;
}
.names {
  padding-top: 15px;
}
.header_college_details_name {
  font-weight: 600;
  /* padding-top: 10px; */
  font-size: 15px;
  /* color: rgb(25, 25, 63); */
}
.header_college_details_place {
  font-weight: 600;
  font-size: 15px;
  color: #255674;
}
.header_college_social_media {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 13px;
}
.header_social_media_image {
  width: 26px;
  height: 26px;
}
.header_input_tags {
  width: 200px;
  outline: none;
  border: 2px solid #1f67ea;
}
.navbar {
  width: 100%;
  height: 65%;
  color: white;
  background-color: #1f67ea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.navbar_links {
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  display: flex;
  padding: 20px;
  border-radius: 5px;
}
.navbar_links:hover {
  background-color: #89bffa;
}
.header_banner {
  width: 100%;
  height: 400px;
  /* display: flex;
  justify-content: center; */
  background-image: url(https://d3jmn01ri1fzgl.cloudfront.net/photoadking/webp_thumbnail/white-and-royal-blue-education-banner-template-9m8jbj82c00174.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .header_banner_image {
  width: 100%;
  height: 100%;
} */
.event_links {
  position: relative;
}
.navbar_dropdown {
  position: absolute;
  width: 250px;
  top: 60px;
  left: -50px;
  z-index: 1;
  color: black;
  padding: 10px;
  border: 2px solid black;
  background-color: whitesmoke;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
  /* display: none; */
}
.navbar_link_opt {
  display: flex;
}
.popup_notification {
  margin: 0px 8px;
}
